{{ define "main" }}
<div class="post-header">
    <div class="container">
        {{- if isset .Params "date" }}
        <span class="date">{{ .Date.Format .Site.Params.dateform }}</span>
        {{- end }}
        {{ if ne .Lastmod .Date }}
        <div class="updated">Updated {{ .Lastmod.Format .Site.Params.dateform }}</div>
        {{- end }}
        <h1 class="title">{{ .Title | markdownify }}</h1>
        <div class="post-tags">
            {{ partial "tags" . }}
        </div>
        {{- if .Params.toc }}
        <aside id="toc">
            <span>Contents</span>
            {{ .TableOfContents }}
        </aside>
        {{- end }}
    </div>
</div>
<main class="post">
    <div class="container">
        {{ .Content | replaceRE "(<h[1-6] id=\"([^\"]+)\".+)(</h[1-6]+>)" `<a href="#${2}" class="anchor">${1}</a>${3}` | safeHTML }}
    </div>
</main>
{{ if or (.NextInSection) (.PrevInSection) }}
    {{ if not .Params.hidePrevAndNext}}
    <div class="other-posts">
        <div class="container">
            {{- with .NextInSection }}
                {{ if isset .Params "date" }}
                    <a class="next" href="{{ .Permalink }}"><span>← Newer post</span> {{ .Title | markdownify }}</a>
                {{- end }}
            {{- end }}
            {{- with .PrevInSection }}
                {{ if isset .Params "date" }}
                    <a class="previous" href="{{ .Permalink }}"><span>Older post →</span> {{ .Title | markdownify }}</a>
                    {{- end }}
                {{- end }}
        </div>
    </div>
    {{ end }}
{{ end }}
{{ end }}