<head>
    <!-- TODO: show only .Site.Title if on main page -->
    <title>{{ .Title }} - {{ .Site.Title }}</title>
    {{ $normalize := resources.Get "style/normalize.css" }}
    {{ $main := resources.Get "style/main.css"  }}
    {{ $bundle := slice $normalize $main | resources.Concat "css/bundle.css" |  minify | fingerprint }}
    <link rel="stylesheet" href="{{ $bundle.Permalink }}" integrity="{{ $bundle.Data.Integrity }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>