{{- define "main" -}}

<div class="post-header">
    <div class="container">
        <h1>{{ .Title }}</h1>
    </div>
</div>
<main class="list">
    <div class="container">
        <ul class="tag-list all-tags">
            {{ $type := .Type }}
            {{ range $key, $value := .Data.Terms.ByCount }}
            {{ $name := .Name }}
            {{ $count := .Count }}
            {{ with $.Site.GetPage (printf "/%s/%s" $type $name) }}
            <li><a href="{{ .Permalink }}">{{ $name }}</a> ({{ $count }})</li>
            {{ end }}
            {{ end }}
        </ul>
    </div>
</main>

{{- end -}}